@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: snow;
}

.heading_form {
	
	padding-bottom: 30px;
	padding-top: 30px;
	width: 800px;
	
}

dt {
	font-family: serif;
	font-size: x-large;
	margin-top: 30px;
}

dd {
	font-size: small;
	font-style: italic;
}

a {
	color: black;
}

.wrapper {
	width: 80%;
	height: 1000px;
	background-color: antiquewhite;
	margin: 0px auto;
}

.heading {
	margin: 0px;
	width: 100%;
	height: 90px;
	background-color: snow;
	margin: 0px auto;
}
